body {
  padding: 0;
  margin: 0;
}
body a {
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
}
body li {
  list-style: none;
}
body ul {
  list-style: none;
  padding: 0;
}
.type-1900 {
  position: relative;
}
.type-1900 .clearfix {
  overflow: auto;
}
.type-1900 .header-top {
  background-color: #4bae4f;
  width: auto;
  height: 122px;
  color: white;
  position: relative;
}
.type-1900 .header-top .contact-row {
  padding-top: 10px;
}
.type-1900 .header-top .contact-row .left-contact .fa-phone-square {
  color: #ccdb38;
}
.type-1900 .header-top .contact-row .left-contact .span-text {
  color: #ccdb38;
  margin: 0 5px;
}
.type-1900 .header-top .contact-row .top-extra-link a {
  margin-left: 30px;
  color: white;
}
.type-1900 .header-top .contact-row .top-extra-link a:hover {
  color: #ccdb38;
}
.type-1900 .header-top .contact-row .top-extra-link i {
  color: #ccdb38;
  margin-right: 5px;
}
.type-1900 .header-top .header-second {
  padding-top: 15px;
  position: relative;
}
.type-1900 .header-top .header-second .logo-top {
  position: relative;
}
.type-1900 .header-top .header-second .smart-search {
  position: relative;
  right: 10%;
}
.type-1900 .header-top .header-second .smart-search .select-category {
  border-right: 1px solid #ccc;
  position: relative;
  width: 140px;
  float: left;
  text-align: center;
  background: #fff none repeat scroll 0 0;
}
.type-1900 .header-top .header-second .smart-search .select-category .category-toggle-link {
  color: #333;
  line-height: 45px;
}
.type-1900 .header-top .header-second .smart-search .select-category .btn-collapse {
  background: #ccdb38;
  color: #fff;
  height: 20px;
  line-height: 20px;
  right: -10px;
  top: 13px;
  width: 20px;
  z-index: 99;
  border: none;
  position: absolute;
}
.type-1900 .header-top .header-second .smart-search .select-category .sub-menu-top {
  background: #fafafa none repeat scroll 0 0;
  border: 10px solid #fff;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  position: absolute;
  width: 200px;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  text-align: left;
  border-top: 1px solid #4bae4f;
  line-height: 20px;
}
.type-1900 .header-top .header-second .smart-search .select-category .sub-menu-top li {
  border-bottom: 1px solid #fff;
  padding: 5px 0;
}
.type-1900 .header-top .header-second .smart-search .select-category .sub-menu-top li a {
  color: #666;
  display: block;
  padding: 5px 5px;
}
.type-1900 .header-top .header-second .smart-search .select-category .sub-menu-top .item a:hover {
  border-top: 1px solid #fe9c00;
  background: #fe9c00;
  color: #fff;
}
.type-1900 .header-top .header-second .smart-search .select-category .sub-menu-top .active a {
  background: #fe9c00;
  color: #fff;
}
.type-1900 .header-top .header-second .smart-search .select-category .mCSB_scrollTools {
  position: absolute;
  display: block;
  width: 2px;
  height: 100%;
  top: 0;
  right: 0;
  background: red;
  z-index: 99;
  background: rgba(0,0,0,0.4);
}
.type-1900 .header-top .header-second .smart-search .smart-search-form {
  position: relative;
  float: left;
}
.type-1900 .header-top .header-second .smart-search .smart-search-form .icon-search {
  background-color: #ccdb38;
  border: medium none;
  height: 45px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}
.type-1900 .header-top .header-second .smart-search .smart-search-form input[type="text"] {
  border-color: #ccc;
  border: 1px solid white;
  color: #999;
  height: 45px;
  padding: 0 25px;
  width: 100%;
}
.type-1900 .header-top .header-second .mini-cart {
  position: relative;
  background: #fff;
  border-color: #fff;
  margin-left: -50px;
  right: 10%;
}
.type-1900 .header-top .header-second .mini-cart .icon-cart {
  background-color: #ccdb38;
  border: medium none;
  height: 45px;
  left: 0;
  width: 50px;
}
.type-1900 .header-top .header-second .mini-cart .header-mini-cart {
  padding-left: 10%;
}
.type-1900 .header-top .header-second .mini-cart .header-mini-cart .set-cart-price {
  color: #4bae4f;
}
.type-1900 .header-top .header-second .mini-cart .header-mini-cart .total-mini-cart-item {
  color: #333;
}
.type-1900 .header-top .header-second .mini-cart .content-mini-cart {
  color: #333;
  background: #fff;
  box-shadow: 0 3px 4px -1px rgba(0,0,0,0.2);
  margin-top: 30px;
  padding: 5px 20px;
  position: absolute;
  right: 0;
  top: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  width: 289px;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
}
.type-1900 .header-top .header-second .mini-cart .content-mini-cart h2 {
  font-size: 14px;
}
.type-1900 .header-top .header-second .mini-cart:hover .content-mini-cart {
  opacity: 1;
  visibility: visible;
  margin: 0;
}
.type-1900 .content {
  position: relative;
}
.type-1900 .content .mmcontext {
  padding: 0;
}
.type-1900 .content .right-menu {
  float: right;
}
.type-1900 .menunav {
  position: relative;
}
.type-1900 .menunav .menuiconnav {
  display: none;
}
.type-1900 .menunav .menuiconnav i {
  color: #fab502;
  font-size: 30px;
}
.type-1900 .menunav ul {
  margin: 0;
  padding: 0;
}
.type-1900 .menunav ul li {
  display: inline-block;
  list-style: none;
  padding: 0 15px;
  position: relative;
  height: 100%;
  width: auto;
}
.type-1900 .menunav ul li .title a {
  line-height: 50px;
  color: #333;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  transition: .5s;
}
.type-1900 .menunav ul li .context {
  height: auto;
  width: 200px;
  margin: 0;
  background: #fff;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
  position: absolute;
  display: none;
  top: 50px;
  left: 0;
}
.type-1900 .menunav ul li .context ul {
  margin: 0;
  padding: 0;
}
.type-1900 .menunav ul li .context ul li {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
}
.type-1900 .menunav ul li .context ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  text-decoration: none;
  color: #555;
  position: relative;
}
.type-1900 .menunav ul li .context ul li a p {
  margin: 0;
}
.type-1900 .menunav ul li .context ul li a i {
  float: right;
}
.type-1900 .menunav ul li .context ul li .subcontext {
  height: auto;
  width: 200px;
  margin: 0;
  background: #fff;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
  position: absolute;
  display: none;
  top: 0px;
  left: 200px;
}
.type-1900 .menunav ul li .context ul li .subcontext ul li:hover a {
  color: #fab502;
}
.type-1900 .menunav ul li .context ul li:hover a {
  color: #fab502;
}
.type-1900 .menunav ul li .context ul li:hover .subcontext {
  display: block;
  animation: navup 0.6s;
}
.type-1900 .menunav ul li .context ul li:hover .subcontext a {
  color: #555;
}
.type-1900 .menunav ul li .contextshop {
  width: 705px;
  padding: 15px;
  background: #fff;
  box-shadow: 0 3px 3px 0 rgba(99,99,99,0.74);
  position: absolute;
  display: none;
  top: 50px;
  left: 0;
  transform: translate(-25%,0);
}
.type-1900 .menunav ul li .contextshop h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 20px;
  font-family: "Oswald";
  letter-spacing: 1px;
  font-weight: bold;
  margin: 0;
  color: #333;
}
.type-1900 .menunav ul li .contextshop .contextinformation {
  width: 100%;
}
.type-1900 .menunav ul li .contextshop .contextinformation ul {
  margin: 0;
  padding: 0;
}
.type-1900 .menunav ul li .contextshop .contextinformation ul li {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #e5e5e5;
}
.type-1900 .menunav ul li .contextshop .contextinformation ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 15px 15px;
  line-height: 0px;
  color: #555;
  position: relative;
}
.type-1900 .menunav ul li .contextshop .contextinformation ul li a p {
  left: 15px;
  position: absolute;
  top: 50%;
}
.type-1900 .menunav ul li .contextshop .contextinformation ul li a:before {
  content: '';
  background: #fab708;
  width: 5px;
  height: 5px;
  left: 0px;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  border-radius: 50%;
  transition: all .3s ease-out 0s;
}
.type-1900 .menunav ul li .contextshop .contextinformation ul li:hover a {
  color: #fab708;
}
.type-1900 .menunav ul li .contextmega {
  width: 705px;
  padding: 15px;
  background: #fff;
  box-shadow: 0 3px 3px 0 rgba(99,99,99,0.74);
  position: absolute;
  display: none;
  top: 50px;
  left: 50%;
  transform: translate(-50%,0);
}
.type-1900 .menunav ul li .contextmega .megaone {
  width: 100%;
  height: auto;
  min-height: 280px;
  border-right: 1px solid #e5e5e5;
  padding: 5px;
}
.type-1900 .menunav ul li .contextmega .megaone h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 20px;
  font-family: "Oswald";
  letter-spacing: 1px;
  font-weight: bold;
  margin: 0;
  color: #333;
}
.type-1900 .menunav ul li .contextmega .megaone h4 {
  font-size: 12px;
  color: #333;
  letter-spacing: 0;
  margin-top: 18px;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-bottom: 9px;
}
.type-1900 .menunav ul li .contextmega .megaone .upto {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  margin-right: 3px;
  margin-top: 0;
  margin-bottom: 0px;
}
.type-1900 .menunav ul li .contextmega .megaone .sale {
  font-size: 18px;
  display: inline-block;
  margin-top: 0;
  border-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0;
  margin-bottom: 10px;
}
.type-1900 .menunav ul li .contextmega .megaone .shop-button {
  display: block;
  border: 1px solid #333;
  font-size: 12px;
  background-color: #fff;
  padding: 0 15px;
  color: #333;
  height: 35px;
  line-height: 34px;
  text-decoration: none;
  width: 105px;
}
.type-1900 .menunav ul li .contextmega .megaone .shop-button:hover {
  transition: all 0.4s ease 0s;
  color: #ffffff;
  background: #f6b93b;
  border-color: #f6b93b;
}
.type-1900 .menunav ul li .contextmega .megaone .image {
  margin-top: 15px;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.type-1900 .menunav ul li .contextmega .megaone .image img {
  width: 100%;
}
.type-1900 .menunav ul li .contextmega .megaone .image:before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  position: absolute;
  top: -100%;
  left: -100%;
  transition: .5s;
}
.type-1900 .menunav ul li .contextmega .megaone .image:after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  position: absolute;
  bottom: -100%;
  right: -100%;
  z-index: 1;
  transition: .5s;
}
.type-1900 .menunav ul li .contextmega .megaone .image:hover:before {
  top: 0;
  left: 0;
}
.type-1900 .menunav ul li .contextmega .megaone .image:hover:after {
  bottom: 0;
  right: 0;
}
.type-1900 .menunav ul li .contextmega .megaone .megacategory {
  width: 100%;
}
.type-1900 .menunav ul li .contextmega .megaone .megacategory ul {
  margin: 0;
  padding: 0;
}
.type-1900 .menunav ul li .contextmega .megaone .megacategory ul li {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #e5e5e5;
}
.type-1900 .menunav ul li .contextmega .megaone .megacategory ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 15px 15px;
  line-height: 0px;
  color: #555;
  position: relative;
}
.type-1900 .menunav ul li .contextmega .megaone .megacategory ul li a p {
  left: 15px;
  position: absolute;
  top: 50%;
}
.type-1900 .menunav ul li .contextmega .megaone .megacategory ul li a:before {
  content: '';
  background: #fab708;
  width: 5px;
  height: 5px;
  left: 0px;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  border-radius: 50%;
  transition: all .3s ease-out 0s;
}
.type-1900 .menunav ul li .contextmega .megaone .megacategory ul li:hover a {
  color: #fab708;
}
.type-1900 .menunav ul li .contextmega .megaone .frameswiper {
  width: 100%;
  height: 100px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-top: 15px;
}
.type-1900 .menunav ul li .contextmega .megaone .frameswiper .swiper-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.type-1900 .menunav ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper {
  display: flex;
}
.type-1900 .menunav ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}
.type-1900 .menunav ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper .swiper-slide .item {
  display: flex;
  position: relative;
  top: 15px;
}
.type-1900 .menunav ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper .swiper-slide .item .imagemega a {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
}
.type-1900 .menunav ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper .swiper-slide .item .imagemega a p {
  display: block;
  height: 20px;
  width: 40px;
  border-radius: 0;
  line-height: 21px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-size: 12px;
  position: absolute;
  left: 0;
  top: 0;
  background: #fd6656;
}
.type-1900 .menunav ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper .swiper-slide .item .imagemega a img {
  width: 100px;
  height: 100px;
}
.type-1900 .menunav ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper .swiper-slide .item .imagemega a:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: .5s;
  background: transparent;
}
.type-1900 .menunav ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper .swiper-slide .item .imagemega a:hover:before {
  background: rgba(0,0,0,0.4);
}
.type-1900 .menunav ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper .swiper-slide .item .productmega {
  padding: 0px 5px;
  color: #fab502;
  font-weight: 700;
  font-size: 18px;
}
.type-1900 .menunav ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper .swiper-slide .item .productmega .product-title {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  padding: 0;
  margin: 0;
}
.type-1900 .menunav ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper .swiper-slide .item .productmega .product-title a {
  color: #333;
  text-decoration: none;
}
.type-1900 .menunav ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper .swiper-slide .item .productmega .product-price {
  text-align: left;
}
.type-1900 .menunav ul li .contextmega .megaone .frameswiper .swiper-container .swiper-button-next {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0px;
  transform: translate(-50%,0);
}
.type-1900 .menunav ul li .contextmega .megaone .frameswiper .swiper-container .swiper-button-prev {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(-50%,0);
}
.type-1900 .menunav ul li .contextmega .col-sm-4:nth-child(2) .megaone,
.type-1900 .menunav ul li .contextmega .col-sm-4:nth-child(3) .megaone {
  border-right: none;
}
.type-1900 .menunav ul li:hover .context {
  display: block;
  animation: navup 0.4s;
}
.type-1900 .menunav ul li:hover .contextshop {
  display: block;
  animation: contextshopup 0.4s;
}
.type-1900 .menunav ul li:hover .contextmega {
  display: block;
  animation: megacontextup 0.4s;
}
.type-1900 .menunav ul li:hover .title a {
  color: #fab502;
}
.type-1900 .menunav .buttonclosemenu span {
  display: none;
}
.type-1900 .menunav .menumobile ul {
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .type-1900 .content .container .row .logonav a {
    text-align: center;
  }
  .type-1900 .content .container .row .logonav a .text {
    position: initial;
  }
}
@media (min-width: 768px) and (max-width: 1202px) {
  .type-1900 .content .container .row .menunav ul li,
  .type-1900 .content .container .row .accountnav ul li {
    padding: 0 5px;
  }
}
@media (max-width: 767px) {
  .type-1900 .content {
    height: 50px;
  }
  .type-1900 .content .container .row .logonav {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .type-1900 .content .container .row .logonav a {
    text-align: center;
    position: initial;
    display: flex;
  }
  .type-1900 .content .container .row .logonav a .text {
    position: initial;
    transform: translate(5px,0);
  }
  .type-1900 .content .container .row .right-menu {
    padding: 0;
  }
  .type-1900 .content .container .row .menunav {
    width: 40px;
    height: 40px;
    overflow: hidden;
    background: #4bae4f;
    top: 5%;
    transition: .5s;
    position: absolute;
  }
  .type-1900 .content .container .row .menunav .menuiconnav {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .type-1900 .content .container .row .menunav .menuiconnav i {
    color: #fff;
    font-size: 20px;
  }
  .type-1900 .content .container .row .menunav .menumobile {
    overflow: auto;
    position: fixed;
    width: 300px;
    height: 100%;
    left: -100%;
    background: #fff;
    display: block;
    transition: .5s;
    z-index: 2;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
  }
  .type-1900 .content .container .row .menunav .menumobile ul li {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .title a {
    color: #555;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .title a i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0,-50%);
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .context {
    overflow: hidden;
    position: relative;
    top: 0;
    background: none;
    box-shadow: none;
    margin-bottom: 10px;
    animation: none;
    transition: .5s;
    height: 0;
    width: 100%;
    display: block;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .context ul {
    margin: 0;
    padding: 0;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .context ul li {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    padding: 0;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .context ul li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    text-decoration: none;
    color: #555;
    position: relative;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .context ul li a p {
    margin: 0;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .context ul li a i {
    float: right;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .context ul li .subcontext {
    overflow: hidden;
    height: 0;
    width: 100%;
    margin: 0;
    background: #fff;
    box-shadow: none;
    position: initial;
    display: block;
    top: 0px;
    left: 0;
    animation: none;
    padding: 0 15px;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .context ul li .subcontext ul li:hover a {
    color: #fab502;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .context ul li:hover a {
    color: #fab502;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .context ul li:hover .subcontext {
    display: block;
    animation: none;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .context ul li:hover .subcontext a {
    color: #555;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextshop {
    width: 100%;
    height: 0;
    padding: 0px;
    background: none;
    box-shadow: none;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    transform: none;
    animation: none;
    display: block;
    transition: .5s;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextshop h2 {
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 20px;
    font-family: "Oswald";
    letter-spacing: 1px;
    font-weight: bold;
    margin: 0;
    color: #333;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextshop .contextinformation {
    width: 100%;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextshop .contextinformation ul {
    margin: 0;
    padding: 0;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextshop .contextinformation ul li {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #e5e5e5;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextshop .contextinformation ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 15px 15px;
    line-height: 0px;
    color: #555;
    position: relative;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextshop .contextinformation ul li a p {
    left: 15px;
    position: absolute;
    top: 50%;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextshop .contextinformation ul li a:before {
    content: '';
    background: #fab708;
    width: 5px;
    height: 5px;
    left: 0px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    border-radius: 50%;
    transition: all .3s ease-out 0s;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextshop .contextinformation ul li:hover a {
    color: #fab708;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega {
    width: 100%;
    height: auto;
    padding: 0px;
    background: none;
    box-shadow: none;
    position: initial;
    display: block;
    top: 0px;
    left: 0;
    transform: none;
    animation: none;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone {
    width: 100%;
    height: 0px;
    min-height: 0px;
    border-right: none;
    padding: 0px;
    overflow: hidden;
    transition: .5s;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone h2 {
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 20px;
    font-family: "Oswald";
    letter-spacing: 1px;
    font-weight: bold;
    margin: 0;
    color: #333;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone h4 {
    font-size: 12px;
    color: #333;
    letter-spacing: 0;
    margin-top: 18px;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 9px;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .upto {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    margin-right: 3px;
    margin-top: 0;
    margin-bottom: 0px;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .sale {
    font-size: 18px;
    display: inline-block;
    margin-top: 0;
    border-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0;
    margin-bottom: 10px;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .shop-button {
    display: block;
    border: 1px solid #333;
    font-size: 12px;
    background-color: #fff;
    padding: 0 19px;
    color: #333;
    height: 35px;
    line-height: 34px;
    text-decoration: none;
    width: 105px;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .image {
    margin-top: 15px;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .image img {
    width: 100%;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .image:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    position: absolute;
    top: -100%;
    left: -100%;
    transition: .5s;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .image:after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    position: absolute;
    bottom: -100%;
    right: -100%;
    z-index: 1;
    transition: .5s;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .image:hover:before {
    top: 0;
    left: 0;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .image:hover:after {
    bottom: 0;
    right: 0;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .megacategory {
    width: 100%;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .megacategory ul {
    margin: 0;
    padding: 0;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .megacategory ul li {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #e5e5e5;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .megacategory ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 15px 15px;
    line-height: 0px;
    color: #555;
    position: relative;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .megacategory ul li a p {
    left: 15px;
    position: absolute;
    top: 50%;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .megacategory ul li a:before {
    content: '';
    background: #fab708;
    width: 5px;
    height: 5px;
    left: 0px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    border-radius: 50%;
    transition: all .3s ease-out 0s;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .megacategory ul li:hover a {
    color: #fab708;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .frameswiper {
    width: 100%;
    height: 100px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-top: 15px;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .frameswiper .swiper-container {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper {
    display: flex;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper .swiper-slide .item {
    display: flex;
    position: relative;
    top: 15px;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper .swiper-slide .item .imagemega a {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper .swiper-slide .item .imagemega a p {
    display: block;
    height: 20px;
    width: 40px;
    border-radius: 0;
    line-height: 21px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 0;
    background: #fd6656;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper .swiper-slide .item .imagemega a img {
    width: 100px;
    height: 100px;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper .swiper-slide .item .imagemega a:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: .5s;
    background: transparent;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper .swiper-slide .item .imagemega a:hover:before {
    background: rgba(0,0,0,0.4);
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper .swiper-slide .item .productmega {
    padding: 0px 5px;
    color: #fab502;
    font-weight: 700;
    font-size: 18px;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper .swiper-slide .item .productmega .product-title {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    padding: 0;
    margin: 0;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper .swiper-slide .item .productmega .product-title a {
    color: #333;
    text-decoration: none;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .frameswiper .swiper-container .swiper-wrapper .swiper-slide .item .productmega .product-price {
    text-align: left;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .frameswiper .swiper-container .swiper-button-next {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0px;
    transform: translate(-50%,0);
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .megaone .frameswiper .swiper-container .swiper-button-prev {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(-50%,0);
  }
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .col-sm-4:nth-child(2) .megaone,
  .type-1900 .content .container .row .menunav .menumobile ul li .contextmega .col-sm-4:nth-child(3) .megaone {
    border-right: none;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li:last-child {
    border: none !important;
  }
  .type-1900 .content .container .row .menunav .menumobile ul li:hover .title a {
    color: #fab502;
  }
  .type-1900 .content .container .row .menunav .menumobile ul .active .title a i {
    top: 30px !important;
  }
  .type-1900 .content .container .row .menunav .menumobile ul .active .context {
    height: auto;
  }
  .type-1900 .content .container .row .menunav .menumobile ul .active .context ul li .activesubcontext {
    height: auto;
  }
  .type-1900 .content .container .row .menunav .menumobile ul .active .contextshop {
    height: auto;
  }
  .type-1900 .content .container .row .menunav .menumobile ul .active .contextmega .megaone {
    height: auto;
  }
  .type-1900 .content .container .row .menunav .mmcontext {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .type-1900 .content .container .row .menunav .activemenumobile {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0,0.9);
    visibility: hidden;
  }
  .type-1900 .content .container .row .buttonclosemenu span {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 40px;
    z-index: 1;
    position: fixed;
    right: 100%;
    top: -5px;
  }
  .type-1900 .content .container .row .buttonclosemenu span i {
    color: #fab502;
  }
  .type-1900 .content .container .row .accountnav {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }
  .type-1900 .content .container .row .accountnav ul {
    display: flex;
  }
  .type-1900 .content .container .row .accountnav ul li {
    padding: 0 5px;
  }
  .type-1900 .content .container .row .activemenunav {
    left: 300px;
    background: transparent;
  }
}
.type-1900 .toggle-mobile-menu {
  position: absolute;
  color: #000;
  text-transform: uppercase;
  right: 45%;
  line-height: 50px;
  font-weight: 500;
  font-size: 16px;
}
.type-1900 .right-category-dropdown {
  float: right;
  margin-top: 1px;
  padding: 5px 10px;
  font-size: 20px;
  color: #fff;
  border: 1px solid #ccdb38;
  background: #ccdb38;
}
.type-1900 #collape {
  float: right;
  background: none 0px 0px repeat scroll #fafafa;
  border-style: solid;
  border-color: #ffffff #ffffff #ffffff;
  border-image: initial;
  box-shadow: rgba(0,0,0,0.2) 0px 4px 4px 0px;
  width: 200px;
  z-index: 99;
  transition: all 0.3s ease-out 0s;
  text-align: left;
  top: 100%;
  line-height: 30px;
  border: 0;
}
.type-1900 #collape li {
  padding: 4px 10px;
  border-bottom: 1px solid #999;
}
.type-1900 #collape li a {
  font-size: 14px;
  color: #000;
}
.type-1900 #collape li a img {
  float: right;
  margin-top: 5px;
}
.type-1900 #collape li:hover {
  border-left: 1px solid #4bae4f;
}
.type-1900 #collape li:hover a {
  color: #4bae4f;
}
.type-1900 #collape li:hover a img {
  color: #4bae4f;
  filter: drop-shadow(1px 1px 1px #4BAE4F);
  -moz-filter: drop-shadow(1px 1px 1px #4BAE4F);
  -webkit-filter: drop-shadow(1px 1px 1px #4BAE4F);
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .type-1900 .smart-search {
    display: none;
  }
  .type-1900 .mini-cart {
    display: none;
  }
  .type-1900 .left-contact p {
    font-size: 11px;
  }
  .type-1900 .top-extra-link a {
    font-size: 11px;
    margin: 1px 1px !important;
  }
  .type-1900 .logo-top a {
    right: 28%;
    position: absolute;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .type-1900 .header-top {
    height: 130px;
  }
  .type-1900 .logo-top {
    left: 40%;
  }
  .type-1900 .smart-search {
    display: none;
  }
  .type-1900 .mini-cart {
    display: none;
  }
  .type-1900 .left-contact {
    text-align: center;
  }
  .type-1900 .top-extra-link {
    text-align: center;
  }
  .type-1900 .list-category-dropdown {
    margin-top: 42px;
    margin-right: -38px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .type-1900 .logo-top {
    left: 180%;
  }
  .type-1900 .toggle-mobile-menu {
    display: none;
  }
  .type-1900 .mini-cart {
    margin: 47px 0px 0px -45px;
  }
  .type-1900 .header-top {
    height: 200px;
  }
  .type-1900 .smart-search {
    right: 50% !important;
    width: 500px;
    padding: 47px 0 0 0;
  }
  .type-1900 .smart-search-form {
    width: 315px;
  }
  .type-1900 .left-contact {
    text-align: center;
  }
  .type-1900 .top-extra-link {
    text-align: center;
  }
  .type-1900 .buttonclosemenu {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .type-1900 .smart-search-form {
    width: 315px;
  }
  .type-1900 .toggle-mobile-menu {
    display: none;
  }
  .type-1900 .buttonclosemenu {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .type-1900 .smart-search-form {
    width: 410px;
  }
  .type-1900 .buttonclosemenu {
    display: none;
  }
}
.type-1900 .context,
.type-1900 .contextinformation,
.type-1900 .contextmega,
.type-1900 .contextshop {
  z-index: 99;
}
@keyframes navup {
  0% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes megacontextup {
  0% {
    transform: translate(-50%,25px);
  }
  100% {
    transform: translate(-50%,0px);
  }
}
@keyframes contextshopup {
  0% {
    transform: translate(-25%,25px);
  }
  100% {
    transform: translate(-25%,0px);
  }
}
