.type-1541 .img-inner {
  margin: 0 0 18px;
}
.type-1541 .img-inner img {
  width: 100%;
  margin: 0 20px 18px 0;
  height: auto;
}
.type-1541 .img-inner .img-inner:hover .img-inner-heading {
  left: 100%;
}
