body {
  background-image: url(/images/background.png);
  background-color: #0b7104;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
body .main-page-content {
  background-color: #fff;
  padding: 0;
}
body .type-1530-1528 {
  margin: 0;
  padding: 50px 15px 30px;
  position: relative;
}
